.carousel {
    width: 834px;
    justify-content: center;
}
#carouselExampleFade {
    width: min-content;    
}
.carousel-item {
    width: min-content;
     
}

.nosotros {
    width: 100%;
    justify-content:flex-start
}

.container-2{
    
    background-size: cover;
    color: white;
    background-repeat: no-repeat;
}
    .evento {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 4px;
        margin: 5px;
        padding: 5px;
        
    }
    
.evento-text {
    justify-items: start;
}

.row {
     margin: 15px;
     text-align: center;
     
}

.img-menu {
    max-width:200px;
    width: auto;
    height: auto;
    margin: 15px;
    margin-top: 15px;
    
}
.menu {
    max-height: 400px;
    width: auto;
    height: auto;
    text-align: center;
}

.img-evento {
    width: 150px;
    height: auto;
}

h5 {
    font-weight: bolder;
    margin: 10px;
} 

