.container-r {
    width: 100%;
    max-width: max-content;
}

.container.fluid {
    display: grid;
    grid-template-columns: 300px 300px;
    grid-gap: 20px;
    margin: 20px;
    justify-content: center;
    border-color: #626E60;
}

.img {
    width: 100%;
    height: auto;
    margin: 10px;
    border-color: #626E60;
    border-width: thick;
    border-radius: 30px;
}
.imgm {
    width: 500px;
    height: min-content;
    border-color: #626E60;
    border-width: thick;
    border-radius: 30px;
}
.col-8 {
    width: 50%;
    float: left;
    
}

.col-4 {
    width: 50%;
    float: right;  
}
.col-sm-9 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    color: #626e60;
}